%form{:class => "container my-5"}
	%div{:class => "row d-flex align-items-end border border-black p-3"}
		%h2 Find Your Flight	
		= form_with url: root_path, method: :get do |f|
			%div{:class => "col-3 d-flex flex-column"}
				= f.label :departure_airport, "Departure Airport", class: "form-label"
				= f.select :departure_airport, @departure_airports.map { |n| n }, class: "form-select", selected: params[:departure_airport]
			%div{:class => "col-3 d-flex flex-column"}
				= f.label :arrival_airport, "Arrival Airport", class: "form-label"
				= f.select :arrival_airport, @arrival_airports.map { |n| n }, selected: params[:arrival_airport]
			%div{:class => "col-2 d-flex flex-column"}
				= f.label :date, class: "form-label"
				= f.select :date, display_formatted_dates(@dates).map { |n| n }, selected: params[:date]
			%div{:class => "col-2 d-flex flex-column"}
				= f.label :passenger_number, "Number of Passengers", class:"form-label"
				= f.select :passenger_number, [1,2,3,4].map { |n| n }, selected: params[:passenger_number]
			= f.submit "SEARCH", class: "col-2 py-0"

%div{:class => "container my-5"}
	%div{:class => "row d-flex justify-content-center border border-black p-3"}
		%h2 Results:
		= render "shared/error_messages"

		- if @available_flights
			= form_with url: new_booking_path, method: :get do |form|
				%table{:class => "table"}
					%thead
						%tr
							%th{:class => "text-center"} Departure Airport
							%th{:class => "text-center"} Arrival Airport
							%th{:class => "text-center"} Departure Time
							%th{:class => "text-center"} Duration
							%th{:class => "text-center"} Select
					%tbody
						- @available_flights.each do |f| 
							%tr
								%td{:class => "text-center"}= f.departure_airport.code
								%td{:class => "text-center"}= f.arrival_airport.code
								%td{:class => "text-center"}= (f.start).strftime("%H:%M:%S")
								%td{:class => "text-center"}= time_conversion(f.flight_duration)
								%td{:class => "text-center"}= form.radio_button :flight_selection, f.id, checked: true

				= form.hidden_field :number_of_passengers, value: @number_of_passengers

				%div{:class => "d-flex justify-content-end"}
					= form.submit "BOOK FLIGHT", class: "text-end"