%div{:class => "container my-5 d-flex flex-column"}
	%div{:class => "row d-flex align-items-end border border-black p-3 my-4"}
		%h3 Your Bookings
		%table{:class => "table my-4"}
			%thead
				%tr
					%th{:class => "text-center"} Departure Airport
					%th{:class => "text-center"} Arrival Airport
					%th{:class => "text-center"} Departure Date
					%th{:class => "text-center"} Departure Time
					%th{:class => "text-center"} Flight Duration
					%th{:class => "text-center"} Delete Booking
					%th{:class => "text-center"} 
			%tbody
				- @bookings.each do |booking|
					%tr
						%td{:class => "text-center"}= booking.flight.departure_airport.code
						%td{:class => "text-center"}= booking.flight.arrival_airport.code
						%td{:class => "text-center"}= (booking.flight.start).strftime("%d/%m/%y")
						%td{:class => "text-center"}= (booking.flight.start).strftime("%H:%m")
						%td{:class => "text-center"}= time_conversion(booking.flight.flight_duration)
						%td{:class => "text-center"}= button_to "DELETE", [:soft_delete, booking], method: :put, data: { turbo_confirm: "Are you sure?" }, class: 'btn btn-danger'
						%td{:class => "text-center"}= link_to "MORE DETAILS", booking_path(id: booking.id)
