<div class="container my-5">
	<div class="row d-flex align-items-end border border-black p-3">
		<%= form_for @booking do |f| %>
			<h2>Flight Details</h2>
			<%= f.hidden_field :flight_id, value: @flight.id %>
			<table class="table my-4">
				<thead>
					<tr>
						<th scope="col" class="text-center">Departure Airport</th>
						<th scope="col" class="text-center">Arrival Airport</th>
						<th scope="col" class="text-center">Departure Date</th>
						<th scope="col" class="text-center">Departure Time</th>
						<th scope="col" class="text-center">Flight Duration</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center"><%= @flight.departure_airport.code %></td>
						<td class="text-center"><%= @flight.arrival_airport.code %></td>
						<td class="text-center"><%= (@flight.start).strftime("%d/%m/%y") %></td>
						<td class="text-center"><%= (@flight.start).strftime("%H:%m") %></td>
						<td class="text-center"><%= time_conversion(@flight.flight_duration) %></td>
					</tr>
				</tbody>
			</table>
			<h2>Passenger Details</h2>
			<%= render "shared/error_messages" %>

			<%# means the passenger number can be dislayed properly %>
			<% @number_of_passengers.times do |i| %>

				<%# nested field information %>
				<%= f.fields_for :passengers do |passenger| %>
					<div class="row my-3">
						<div class="col-3 d-flex flex-column">
							<%= passenger.label :name, "Passenger #{i+1} Name" %>
							<%= passenger.text_field :name %>
						</div>
						<div class="col-3 d-flex flex-column">
							<%= passenger.label :email, "Passenger #{i+1} Email" %>
							<%= passenger.email_field :email %>
						</div>
					</div>
				<% end %>
				
			<% end %>
			<%= f.submit %>
		<% end %>
	</div>
</div>